USE [DBQS]
GO
/****** Object:  StoredProcedure [dbo].[spGSS_Items_Item_CRUD_Records]    Script Date: 12/16/2025 7:08:09 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER OFF
GO
/*
Autor:		Angel Gutierrez
Desc:		GSS_Cat_Item | Create - Read - Upadate - Delete 
Date:		11/29/25
Example:


		DECLARE  @pudtGSSItemsConfiguration			UDT_GSS_Items_Configuration 
		DECLARE  @pudtGSSOperationCost				UDT_GSS_Operation_Cost 
		DECLARE  @pudtGSSCommercialRelease			UDT_GSS_GSSCommercial_Release 

			--Header
		INSERT INTO @pudtGSSItemsConfiguration
		select * from pudtGSSItemsConfiguration
   
		INSERT INTO @pudtGSSOperationCost
		select * from pudtGSSOperationCost 
   
		INSERT INTO @pudtGSSCommercialRelease
		select * from pudtGSSCommercialRelease 


		exec spGSS_Items_Item_CRUD_Records @pvOptionCRUD='C',
									@pvIdLanguageUser	= 'ANG', 
									@pvIdItem			= 'TST121201', 
									@pvIdCountry		= 'US' , 
									@pvIdItemClass		= 'GSSPROD', 
									@pvIdItemSubClass	= 'PROD', 
									@pvIdDiscountCategory = 'GSSNA',
									@pvIdCountryPackage = '',
									@pvIdItemRelated    = '',
									@pvShortDesc		= 'Test 12122501', 
									@pvLongDesc			= 'Test 12122501 Long Desc', 
									@pvModel			= 'Model',
									@pvSpecifications	= 'Specs',
									@pvWeight			= '12 KG',
									@pvMeasurements		= '125 CM',
									@pvImagePath		= '',
									@pbStatus			= 1, 
									@pvItemSPR			= '0',
									@pvUser				= 'ANGUTIERRE', 
									@pvIP				='TESTING',
									@pfPrice			= 12345,
									@pfStandardCost		= 10,
									@pbOnRequest		= 0,
									@pvCurrency			= 'EUR',
									@pudtGSSItemsConfiguration=  @pudtGSSItemsConfiguration,
									@pudtGSSOperationCost = @pudtGSSOperationCost,
									@pudtGSSCommercialRelease = @pudtGSSCommercialRelease,
									@pvUser='VIROJAS',
									@pvIP='127.0.0.1'


			

			
*/
CREATE PROCEDURE [dbo].[spGSS_Items_Item_CRUD_Records]
@pvOptionCRUD					Varchar(1),
@pvIdLanguageUser				Varchar(10) = '',
@pvIdItem						Varchar(50)		= '',
@pvIdCountry					Varchar(10)		= '',
@pvIdItemClass					Varchar(10)		= '',
@pvIdItemSubClass				Varchar(10)		= '',
@pvShortDesc					Varchar(50)		= '',
@pvLongDesc						Varchar(255)	= '',
@pvModel						Varchar(100)	= '',
@pvSpecifications				Varchar(1000)	= '',
@pvWeight						Varchar(50)		= '',
@pvMeasurements					Varchar(50)		= '',
@pvIdDiscountCategory			Varchar(10)		= '',
@pvIdCountryPackage				Varchar(10)		= '',
@pvIdItemRelated 				Varchar(50)		= '',
@pvImagePath					Varchar(255)	= '',
@pbStatus						Bit				= 0,
@pudtGSSItemsConfiguration		UDT_GSS_Items_Configuration Readonly,
@pudtGSSOperationCost			UDT_GSS_Operation_Cost Readonly,
@pudtGSSCommercialRelease		UDT_GSS_Commercial_Release Readonly,
@pvItemSPR						Varchar(50)		= '',
@pvUser							Varchar(50)		= '',
@pvIP							Varchar(20)		= '',
@pfPrice						Float			= 0,
@pfStandardCost					Float			= 0,
@pvCurrency						Varchar(10)		= '',
@pbOnRequest					Bit				= 0						
AS

SET NOCOUNT ON


--FOR TEST
/*
		SELECT * INTO pudtGSSItemsConfiguration FROM @pudtGSSItemsConfiguration  
		SELECT * INTO pudtGSSOperationCost FROM @pudtGSSOperationCost  
		SELECT * INTO pudtGSSCommercialRelease FROM @pudtGSSCommercialRelease

*/

BEGIN TRANSACTION;  
  
BEGIN TRY  
   
   --------------------------------------------------------------------
	--Work Variables
	--------------------------------------------------------------------
	Declare @vDescOperationCRUD Varchar(50) = dbo.fnGetOperationCRUD(@pvOptionCRUD)
	DECLARE @vSQL Varchar(MAX)

	DECLARE @vjsonUDTGSSConfiguration		NVarchar(MAX)	= (SELECT * FROM @pudtGSSItemsConfiguration FOR JSON AUTO);
	DECLARE @vjsonUDTGSSOperationCost		NVarchar(MAX)	= (SELECT * FROM @pudtGSSOperationCost FOR JSON AUTO);
	DECLARE @vjsonUDTGSSCommercialRelease	NVarchar(MAX)	= (SELECT * FROM @pudtGSSCommercialRelease FOR JSON AUTO);

	--------------------------------------------------------------------
	--Variables for log control
	--------------------------------------------------------------------
	DECLARE	@nIdTransacLog	Numeric
	DECLARE @vDescription	Varchar(255)	= 'Item - ' + @vDescOperationCRUD 
	DECLARE @bSuccessful	Bit				= 1	
	DECLARE @vMessageType	Varchar(30)		= dbo.fnGetTransacMessages('OK',@pvIdLanguageUser)	--success
	DECLARE @vMessage		Varchar(Max)	= dbo.fnGetTransacMessages(@vDescOperationCRUD,@pvIdLanguageUser)
	DECLARE @vExecCommand	Varchar(Max)	= "EXEC spGSS_Items_Item_CRUD_Records @pvOptionCRUD =  '" + ISNULL(@pvOptionCRUD,'NULL') + "', @pvIdItem = '" + ISNULL(@pvIdItem,'NULL') + "', @pvIdCountry = '" + ISNULL(@pvIdCountry,'NULL') + "', @pvIdItemClass = '" + ISNULL(@pvIdItemClass,'NULL') + "', @pvIdItemSubClass = '" + ISNULL(@pvIdItemSubClass,'NULL') + "', @pvShortDesc = '" + ISNULL(@pvShortDesc,'NULL') + "', @pvLongDesc = '" + ISNULL(@pvLongDesc,'NULL') + "', @pvModel = '" + ISNULL(@pvModel,'NULL') + "', @pvSpecifications = '" + ISNULL(@pvSpecifications,'NULL') + "', @pvWeight = '" + ISNULL(@pvWeight,'NULL') + "', @pvMeasurements = '" + ISNULL(@pvMeasurements,'NULL') + "', @pvImagePath = '" + ISNULL(@pvImagePath,'NULL') + "', @pbStatus = '" + ISNULL(CAST(@pbStatus AS VARCHAR),'NULL') + "', @pvItemSPR = '" + ISNULL(CAST(@pvItemSPR AS VARCHAR),'NULL') + "', 
	@vjsonUDTConfiguration = '" + ISNULL(@vjsonUDTGSSConfiguration,'NULL') + "',
	@vjsonUDTOperationCost = '" + ISNULL(@vjsonUDTGSSOperationCost,'NULL') + "',
	@vjsonUDTCommercialRelease = '" + ISNULL(@vjsonUDTGSSCommercialRelease,'NULL') + "',
	@pvUser = '" + ISNULL(@pvUser,'NULL') + "', @pvIP = '" + ISNULL(@pvIP,'NULL') + "'"


	DECLARE @TableResponse TABLE(  
    [Successful] bit,  
    MessageType varchar(30),  
    [Message] varchar(max),  
    IdTransacLog numeric(18,0)
	); 


	INSERT INTO @TableResponse
   EXEC	spGSS_Cat_Item_CRUD_Records @pvOptionCRUD = @pvOptionCRUD, 
									@pvIdItem = @pvIdItem, 
									@pvIdCountry = @pvIdCountry, 
									@pvIdItemClass = @pvIdItemClass, 
									@pvIdItemSubClass = @pvIdItemSubClass, 
									@pvIdDiscountCategory = @pvIdDiscountCategory,
									@pvIdCountryPackage = @pvIdCountryPackage,
									@pvIdItemRelated = @pvIdItemRelated,
									@pvShortDesc = @pvShortDesc, 
									@pvLongDesc = @pvLongDesc, 
									@pvModel = @pvModel,
									@pvSpecifications = @pvSpecifications,
									@pvWeight = @pvWeight,
									@pvMeasurements = @pvMeasurements,
									@pvImagePath = @pvImagePath,
									@pbStatus = @pbStatus, 
									@pvItemSPR = @pvItemSPR,
									@pvUser = @pvUser, 
									@pvIP = @pvIP,
									@pfPrice			= @pfPrice,
									@pfStandardCost		= @pfStandardCost,
									@pbOnRequest		= @pbOnRequest,
									@pvCurrency			= @pvCurrency,
									@pvIdLanguageUser	= @pvIdLanguageUser


	/*IF @pvOptionCRUD = 'U'
	BEGIN
		DELETE FROM GSS_Commercial_Release			WHERE Id_Item = @pvIdItem
		DELETE FROM GSS_Operation_Cost				WHERE Id_Item = @pvIdItem
		DELETE FROM GSS_Items_Configuration			WHERE Id_Item = @pvIdItem
		

	END*/


	PRINT 'Inserta GSS_Operation_Cost'							
	INSERT INTO @TableResponse
	EXEC spGSS_Operation_Cost_CRUD_Records @pvOptionCRUD = @pvOptionCRUD, @pudtGSSOperationCost = @pudtGSSOperationCost,  @pvUser = @pvUser, @pvIP = @pvIP;

	PRINT 'Inserta GSS_Commercial_Release'
	INSERT INTO @TableResponse
	EXEC spGSS_Commercial_Release_CRUD_Records @pvOptionCRUD = @pvOptionCRUD,  @pudtGSSCommercialRelease = @pudtGSSCommercialRelease, @pvUser = @pvUser, @pvIP = @pvIP;
	
	PRINT 'Inserta GSS_Items_Configuration'
	INSERT INTO @TableResponse
	EXEC spGSS_Items_Configuration_CRUD_Records @pvOptionCRUD = @pvOptionCRUD, @pvIdItem=@pvIdItem, @pudtGSSItemsConfiguration = @pudtGSSItemsConfiguration,  @pvUser = @pvUser, @pvIP = @pvIP;

	IF (select COUNT(*) from @TableResponse where Successful = 0) > 0
	BEGIN
	SET @vMessageType	= dbo.fnGetTransacMessages('WAR',@pvIdLanguageUser)	--Error	
	SET @vMessage		= (select MAX([Message]) from @TableResponse where Successful = 0)
	SET @bSuccessful	= 0 --Execution with errors

		 IF @@TRANCOUNT > 0  
        ROLLBACK TRANSACTION; 
	END

									

	--------------------------------------------------------------------
	--Register Transaction Log
	--------------------------------------------------------------------
	EXEC spSecurity_Transaction_Log_Ins_Record	@pvDescription	= @vDescription, 
												@pvExecCommand	= @vExecCommand,
												@pbSuccessful	= @bSuccessful, 
												@pvMessagetType = @vMessageType,
												@pvMessage		= @vMessage, 
												@pvUser			= @pvUser, 
												@pnIdTransacLog	= @nIdTransacLog OUTPUT
	SET NOCOUNT OFF
	SELECT  Successful = @bSuccessful , MessageType = @vMessageType, Message = @vMessage, IdTransacLog = @nIdTransacLog


END TRY  
BEGIN CATCH  

 IF @@TRANCOUNT > 0  
        ROLLBACK TRANSACTION; 

   --------------------------------------------------------------------
	-- Exception Handling
	--------------------------------------------------------------------
	SET @vMessageType	= dbo.fnGetTransacMessages('ERR',@pvIdLanguageUser)	--Error	
	SET @vMessage		= dbo.fnGetTransacErrorBD()
	SET @bSuccessful	= 0 --Execution with errors
	EXEC spSecurity_Transaction_Log_Ins_Record	@pvDescription	= @vDescription, 
												@pvExecCommand	= @vExecCommand,
												@pbSuccessful	= @bSuccessful, 
												@pvMessagetType = @vMessageType,
												@pvMessage		= @vMessage, 
												@pvUser			= @pvUser, 
												@pnIdTransacLog	= @nIdTransacLog OUTPUT
	
	--SET @vMessage		= dbo.fnGetTransacMessages('Generic Error',@pvIdLanguageUser)
	SET NOCOUNT OFF
		SELECT  Successful = @bSuccessful , MessageType = @vMessageType, Message = @vMessage, IdTransacLog = @nIdTransacLog

  
    
END CATCH;  
  
IF @@TRANCOUNT > 0  
    COMMIT TRANSACTION;  




