USE DBQS
GO
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER OFF
GO

/* ==================================================================================*/
-- spSecurity_Get_ValidateUser
/* ==================================================================================*/	
PRINT 'Crea Procedure: spSecurity_Get_ValidateUser'

IF OBJECT_ID('[dbo].[spSecurity_Get_ValidateUser]','P') IS NOT NULL
       DROP PROCEDURE [dbo].spSecurity_Get_ValidateUser
GO
/*
Author:
Description:
Date:
Example: 
exec spSecurity_Get_ValidateUser @pvUser = 'MIHAMILTON', @pvPassword = 'HillRom2020'
exec spSecurity_Get_ValidateUser @pvUser = 'ALZEPEDA', @pvPassword = '041c4c6a9ad4a555742596831c70e39d92f5b8647d93fe47a40b779c667501b0'
exec spSecurity_Get_ValidateUser @pvUser = 'ALZEPEDA', @pvPassword = '041c4c6a9ad4a555742596831c70e39d92f5b8647d93fe47a40b779c667501b0', @pvIdRole = 'ADMIN'
exec spSecurity_Get_ValidateUser @pvUser = 'ALZEPEDA', @pvPassword = '041c4c6a9ad4a555742596831c70e39d92f5b8647d93fe47a40b779c667501b0', @pvGetRoles = 1

EXEC spSecurity_Get_ValidateUser 'ANGUTIERRE', 'f23acf05d889d0bb8a24f28d71196dd5a07bd9d5a00c23124839638deb840bc8'
exec spSecurity_Get_ValidateUser @pvUser = 'ANGUTIERRE', @pvPassword = 'f23acf05d889d0bb8a24f28d71196dd5a07bd9d5a00c23124839638deb840bc8', @pvIdRole = 'ADMIN'
exec spSecurity_Get_ValidateUser @pvUser = 'ANGUTIERRE', @pvPassword = 'f23acf05d889d0bb8a24f28d71196dd5a07bd9d5a00c23124839638deb840bc8', @pvIdRole = 'FLCADMIN'
EXEC spSecurity_Get_ValidateUser 'ANGUTIERRE', 'f23acf05d889d0bb8a24f28d71196dd5a07bd9d5a00c23124839638deb840bc8', @pvGetRoles = 1
*/
CREATE PROCEDURE [dbo].[spSecurity_Get_ValidateUser]
@pvUser		Varchar(20),
@pvPassword	Varchar(255),
@pvIdRole	Varchar(10) = '',
@pvGetRoles Bit			= 0
AS

DECLARE @User					 varchar(20)
DECLARE @Final_Effective_Date	datetime
DECLARE @Id_Language			varchar(10)
DECLARE @pbPrincipal			Bit	= (CASE WHEN @pvIdRole = '' THEN 1 ELSE NULL END)


BEGIN TRY

	/*========================================================*/
	-- 01 - Validate User
	/*========================================================*/
	SELECT @User = isnull(max([User]),''),@Final_Effective_Date = MAX(Final_Effective_Date), @Id_Language =  isnull(max(Id_Language),'')
	FROM Security_Users
	WHERE [User] = @pvUser AND [Password] = @pvPassword AND [Status] = 1

	/*========================================================*/
	-- 02 - Valid User
	/*========================================================*/
	IF (@User <> '') 
	BEGIN
		
		IF @pvGetRoles = 1 
		-- Obtiene los Roles que puede tener un Usuario
		BEGIN 
			SELECT U.Id_Role,Role_Desc = R.Short_Desc, Principal,R.Id_Business_Line
			FROM Security_User_Roles U
			INNER JOIN Security_Roles R ON 
			U.Id_Role = R.Id_Role
			WHERE U.[User] = @pvUser AND 
			U.[Status] = 1 AND R.[Status] = 1
			ORDER BY  U.Id_Role
		END 
		ELSE
		-- Obtiene los Menus de un Rol (El principal o el del parametro)
		BEGIN 
			DECLARE @XMLMenu XML;

			--Obtiene el Rol par el Menu
			SELECT @pvIdRole = U.Id_Role
			FROM Security_User_Roles U
			INNER JOIN Security_Roles R ON 
			U.Id_Role = R.Id_Role
			WHERE U.[User] = @pvUser AND 
			(@pvIdRole	= '' OR U.Id_Role = @pvIdRole) AND 
			(@pbPrincipal IS NULL   OR U.Principal = @pbPrincipal) AND 
			U.[Status] = 1 AND R.[Status] = 1
			ORDER BY  U.Id_Role
			
			-- Valida la vigencia del Usuario
			IF (@Final_Effective_Date is null or DATEDIFF(day,getdate(),@Final_Effective_Date) >= 0)
			BEGIN							
				--obtiene Menu
				EXECUTE spSecurity_Get_Access @pvIdRole, @Id_Language,  @pXmlOUT = @XMLMenu OUTPUT;

				SELECT	Successfully= '1',
						[Message] = 'OK',
						UsrRol.[User],
						UsrRol.Id_Role,
						[Role] = Rol.Short_Desc,
						UsrRol.Id_Zone,
						Usr.[Name],
						Email = isnull(Usr.Email,''),
						Usr.[Status],
						menuXML = isnull(@XMLMenu,''),
						Temporal_Password = ISNULL(Usr.Temporal_Password,0),
						Id_Language = ISNULL(Usr.Id_Language,''),
						Rol.Id_Business_Line,
						UsrRol.Principal
				FROM Security_Users Usr
				INNER JOIN Security_User_Roles UsrRol ON 
				Usr.[User] = UsrRol.[User]
				INNER JOIN Security_Roles Rol ON
				UsrRol.Id_Role = Rol.Id_Role
				WHERE UsrRol.[User] = @pvUser and UsrRol.Id_Role = @pvIdRole


			END
			ELSE
			BEGIN
				DECLARE @EffectiveDay			Int			= (SELECT [Value] FROM Cat_General_Parameters WHERE Id_Parameter = 2) -- Days for Valid Password
				DECLARE @vFinal_Effective_Date	Varchar(8)	= CONVERT(VARCHAR(8),DATEADD(DAY,@EffectiveDay,GETDATE()),112)

				update Security_Users
				set Final_Effective_Date = @vFinal_Effective_Date
				WHERE [User] = @pvUser


				EXECUTE spSecurity_Get_Access @pvIdRole, @Id_Language,  @pXmlOUT = @XMLMenu OUTPUT;

				SELECT	Successfully= '1',
						[Message] = 'OK',
						UsrRol.[User],
						UsrRol.Id_Role,
						[Role] = Rol.Short_Desc,
						UsrRol.Id_Zone,
						Usr.[Name],
						Email = isnull(Usr.Email,''),
						Usr.[Status],
						menuXML = isnull(@XMLMenu,''),
						Temporal_Password = CAST('1' as bit),
						Id_Language = ISNULL(Usr.Id_Language,''),
						Rol.Id_Business_Line,
						UsrRol.Principal
				FROM Security_Users Usr
				INNER JOIN Security_User_Roles UsrRol ON 
				Usr.[User] = UsrRol.[User]
				INNER JOIN Security_Roles Rol ON
				UsrRol.Id_Role = Rol.Id_Role
				WHERE UsrRol.[User] = @pvUser and UsrRol.Id_Role = @pvIdRole

			END
		END

	END
	/*========================================================*/
	-- 02 - Invalid User
	/*========================================================*/
	ELSE
		SELECT 
			Successfully= '0',
			[Message] = 'User not authorized to access the system'

END TRY
BEGIN CATCH
	SELECT Successfully= '0',ERROR_MESSAGE() AS [Message]  
END CATCH







